celery==5.1.0
pydantic==1.9.0
websockets==9.1
uvicorn==0.13.0
fastapi==0.65.2
redis==3.5.3
msgpack
PyYAML==5.4.1
starlette==0.14.2
websocket-client
aiohttp[speedups]
edit-distance
pyserial==3.5
python-multipart
bcrypt==3.2.0
openpyxl
loguru
pandas
watchdog[watchmedo]
XlsxWriter==3.0.1
xmltodict==0.12.0
python-crontab
pycparser
opencv-contrib-python
imutils
requests==2.25.1
aiofiles
Jinja2
passlib==1.7.4
python-jose
python-vlc
numpy
Pillow
beautifulsoup4
python-socketio==4.6.1
motor == 2.5.1
pymongo == 3.12.3
python-decouple
pytest == 7.1.1
pytest_mock == 3.7.0